build/
*.o
*.a
*.so
*.dylib
*.fits
*.txt
gen_data
gen_test
milk-streamtelemetry-cca
milk-streamtelemetry-pca
milk-streamtelemetry-recon
milk-streamtelemetry-pcamerge
milk-streamtelemetry-cubeshuffle
.DS_Store
